---
import MainLayout from "@layouts/main.astro";
import Footer from "../../components/footer.astro";
import Tag from "../../components/tag.astro";
import Action from "../../components/action.astro";

const pageTitle = "Projets";

const response = await fetch('http://localhost:3333/api/projects');
const projects = await response.json();
---
<MainLayout title={pageTitle}>
    <section class="section -column">
        <h1 class="display -thin decorated">{pageTitle}</h1>
        <div class="collection">
            {
                projects.docs.map((project) => (
                    <a href={`projects/${project.slug}`} class="collection__card">
                        <div class="card__container -counter">
                            <div class="card__content">
                                <h2 class="card__title">{project.title}</h2>
                                <div class="card__meta">
                                    <span class="card__date">{project.year}</span>
                                    <Tag class="projectType" variant="outline" label={project.type}/>
                                </div>
                            </div>
                        </div>
                        <Action label="Voir" icon="forward"/>
                    </a>
                ))
            }
        </div>
    </section>
    <Footer/>
</MainLayout>